body { background: #5ac4c0; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 36px; display: flex; }
.block-config-0 { color: #6f5906; font-size: 15px; margin-bottom: 5px; }
.block-logger-1 { color: #1c44a0; font-size: 19px; margin-bottom: 5px; }
.block-search-2 { color: #3055c1; font-size: 21px; margin-bottom: 5px; }
.block-shipping-3 { color: #ac082d; font-size: 15px; margin-bottom: 5px; }
.block-shipping-4 { color: #8a03ac; font-size: 13px; margin-bottom: 5px; }